{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>Acceuil du MytheBlog</title>
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    
</head>
<body>

<nav class="main-nav">
    <a href="{% url 'posts:home' %}" class="nav-link nav-link-primary">Accueil</a>
    {% if user.is_authenticated %}
        <a href="{% url 'posts:create' %}" class="nav-link nav-link-secondary">Nouveau Mythe</a>
    {% endif %}
</nav>

    <section id="blog">
        {% block content %}
        {% endblock %}
    </section>
    
</body>
</html>
